In [2]:
#pip install pandas

Collecting pandas
  Downloading pandas-2.2.1-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting numpy<2,>=1.23.2 (from pandas)
  Downloading numpy-1.26.4-cp311-cp311-win_amd64.whl.metadata (61 kB)
     ---------------------------------------- 0.0/61.0 kB ? eta -:--:--
     ------ --------------------------------- 10.2/61.0 kB ? eta -:--:--
     -------------------------------------- 61.0/61.0 kB 651.3 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\andrey\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\andrey\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.1-cp311-cp311-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
    --------------------------------------- 0.3/11.6 MB 8.9 MB/s eta 0:00:02
   -- ------------------------------------- 0.8/11.6 MB 10.1 MB/s eta 0:00:02
   ---- ----------------------------------- 1.4/11.6 MB 11.1 MB/s eta 0:00:01
   ------ --------------------------------- 2.0/11.6 MB 11.4 MB/s eta 0:00:01
   ------- -------------------------------- 2.3/11.6 MB 11.3 MB/s eta 0:00:01
   ---------- ----------------------------- 3.2/11.6 MB 11.2 MB/s eta 0:00:01
   ------------ --------------------------- 3.7/11.6 MB 11.3 MB/s eta 0:00:01
   -------------- ------------------------- 4.1/11.6 MB 11.0 MB/s eta 0:00:01
   ---------------- ----------------------- 4.7/11.6 MB 11.5 MB/s eta 0:00:01
   ----------------- ---------------------- 5.1/11.6 MB 11.3 MB/s eta 0:00:01
   ------------------- -------------------- 5.7/11.6 MB 11.3 MB/s eta 0:00:01
   --------------------- ------------------ 6.2/11.6 MB 11.4 MB/s eta 0:00:01
   ----------------------- ---------------- 6.8/11.6 MB 11.4 MB/s eta 0:00:01
   ------------------------- -------------- 7.3/11.6 MB 11.5 MB/s eta 0:00:01
   -------------------------- ------------- 7.8/11.6 MB 11.3 MB/s eta 0:00:01
   ---------------------------- ----------- 8.3/11.6 MB 11.6 MB/s eta 0:00:01
   ------------------------------ --------- 8.9/11.6 MB 11.6 MB/s eta 0:00:01
   -------------------------------- ------- 9.5/11.6 MB 11.4 MB/s eta 0:00:01
   ---------------------------------- ----- 10.1/11.6 MB 11.5 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.6 MB 11.3 MB/s eta 0:00:01
   ------------------------------------- -- 10.9/11.6 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------  11.4/11.6 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 10.1 MB/s eta 0:00:00
Downloading numpy-1.26.4-cp311-cp311-win_amd64.whl (15.8 MB)
   ---------------------------------------- 0.0/15.8 MB ? eta -:--:--
   - -------------------------------------- 0.5/15.8 MB 16.8 MB/s eta 0:00:01
   -- ------------------------------------- 1.0/15.8 MB 12.1 MB/s eta 0:00:02
   --- ------------------------------------ 1.5/15.8 MB 12.0 MB/s eta 0:00:02
   ----- ---------------------------------- 2.1/15.8 MB 12.1 MB/s eta 0:00:02
   ------ --------------------------------- 2.7/15.8 MB 12.3 MB/s eta 0:00:02
   -------- ------------------------------- 3.3/15.8 MB 12.3 MB/s eta 0:00:02
   --------- ------------------------------ 3.7/15.8 MB 11.9 MB/s eta 0:00:02
   ---------- ----------------------------- 4.3/15.8 MB 11.9 MB/s eta 0:00:01
   ------------ --------------------------- 4.8/15.8 MB 11.9 MB/s eta 0:00:01
   ------------- -------------------------- 5.4/15.8 MB 11.9 MB/s eta 0:00:01
   -------------- ------------------------- 5.9/15.8 MB 11.7 MB/s eta 0:00:01
   ---------------- ----------------------- 6.4/15.8 MB 11.7 MB/s eta 0:00:01
   ----------------- ---------------------- 7.0/15.8 MB 11.8 MB/s eta 0:00:01
   ------------------- -------------------- 7.6/15.8 MB 12.1 MB/s eta 0:00:01
   -------------------- ------------------- 8.2/15.8 MB 11.9 MB/s eta 0:00:01
   ---------------------- ----------------- 8.8/15.8 MB 11.9 MB/s eta 0:00:01
   ----------------------- ---------------- 9.3/15.8 MB 11.7 MB/s eta 0:00:01
   ------------------------ --------------- 9.8/15.8 MB 11.6 MB/s eta 0:00:01
   ------------------------- -------------- 10.2/15.8 MB 11.7 MB/s eta 0:00:01
   -------------------------- ------------- 10.6/15.8 MB 11.5 MB/s eta 0:00:01
   --------------------------- ------------ 11.0/15.8 MB 11.1 MB/s eta 0:00:01
   ---------------------------- ----------- 11.4/15.8 MB 10.9 MB/s eta 0:00:01
   ------------------------------ --------- 11.9/15.8 MB 10.9 MB/s eta 0:00:01
   ------------------------------- -------- 12.4/15.8 MB 10.9 MB/s eta 0:00:01
   -------------------------------- ------- 13.0/15.8 MB 10.9 MB/s eta 0:00:01
   --------------------------------- ------ 13.4/15.8 MB 10.7 MB/s eta 0:00:01
   ----------------------------------- ---- 13.9/15.8 MB 10.7 MB/s eta 0:00:01
   ------------------------------------ --- 14.4/15.8 MB 10.4 MB/s eta 0:00:01
   ------------------------------------- -- 15.0/15.8 MB 10.7 MB/s eta 0:00:01
   ---------------------------------------  15.4/15.8 MB 10.4 MB/s eta 0:00:01
   ---------------------------------------  15.8/15.8 MB 10.4 MB/s eta 0:00:01
   ---------------------------------------  15.8/15.8 MB 10.4 MB/s eta 0:00:01
   ---------------------------------------- 15.8/15.8 MB 9.5 MB/s eta 0:00:00
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ---------------------------------------- 0.0/505.5 kB ? eta -:--:--
   -------------------------- ------------- 337.9/505.5 kB 7.0 MB/s eta 0:00:01
   ---------------------------------------- 505.5/505.5 kB 6.3 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   --------------------------------------- 345.4/345.4 kB 10.8 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.1 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
df = pd.read_csv('laptop_price.csv', sep = ',', encoding = 'latin-1')
df.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [4]:
df.dtypes

laptop_ID             int64
Company              object
Product              object
TypeName             object
Inches              float64
ScreenResolution     object
Cpu                  object
Ram                  object
Memory               object
Gpu                  object
OpSys                object
Weight               object
Price_euros         float64
dtype: object

In [7]:
df.isnull().sum()

laptop_ID           0
Company             0
Product             0
TypeName            0
Inches              0
ScreenResolution    0
Cpu                 0
Ram                 0
Memory              0
Gpu                 0
OpSys               0
Weight              0
Price_euros         0
dtype: int64

In [8]:
df.shape[0]

1303

In [9]:
df.describe()

         laptop_ID       Inches  Price_euros
count  1303.000000  1303.000000  1303.000000
mean    660.155794    15.017191  1123.686992
std     381.172104     1.426304   699.009043
min       1.000000    10.100000   174.000000
25%     331.500000    14.000000   599.000000
50%     659.000000    15.600000   977.000000
75%     990.500000    15.600000  1487.880000
max    1320.000000    18.400000  6099.000000

In [10]:
df.describe(include='object')

,Company,Product,TypeName,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight
count,1303,1303,1303,1303,1303,1303,1303,1303,1303,1303
unique,19,618,6,40,118,9,39,110,9,179
top,Dell,XPS 13,Notebook,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,2.2kg
freq,297,30,727,507,190,619,412,281,1072,121

In [11]:
df['Company'].value_counts()

Company
Dell         297
Lenovo       297
HP           274
Asus         158
Acer         103
MSI           54
Toshiba       48
Apple         21
Samsung        9
Razer          7
Mediacom       7
Microsoft      6
Xiaomi         4
Vero           4
Chuwi          3
Google         3
Fujitsu        3
LG             3
Huawei         2
Name: count, dtype: int64

In [12]:
df['Company'].mode()

0      Dell
1    Lenovo
Name: Company, dtype: object

In [13]:
df['Price_euros'].min(), df['Price_euros'].max()

(174.0, 6099.0)

In [15]:
mask = df['Price_euros'] == df['Price_euros'].max()
df[mask]

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
196,200,Razer,Blade Pro,Gaming,17.3,4K Ultra HD / Touchscreen 3840x2160,Intel Core i7 7820HK 2.9GHz,32GB,1TB SSD,Nvidia GeForce GTX 1080,Windows 10,3.49kg,6099.0

In [17]:
df[df['Inches']==df['Inches'].min()][['Company','TypeName','Inches','Price_euros']]

     Company            TypeName  Inches  Price_euros
50    Lenovo  2 in 1 Convertible    10.1       319.00
1082  Lenovo  2 in 1 Convertible    10.1       646.27
1114  Lenovo  2 in 1 Convertible    10.1       549.00
1126  Lenovo  2 in 1 Convertible    10.1       479.00

In [18]:
df[df['Company'] == 'HP']['Price_euros'].max()

4389.0

In [21]:
u8 = df[(df['TypeName'] == 'Ultrabook') & (df['Ram'] == '8GB')].shape[0]
u8

140

In [22]:
u = df[(df['TypeName'] == 'Ultrabook')].shape[0]
u

196

In [23]:
u8 / u * 100

71.42857142857143

In [24]:
df[
    (df['Ram'].isin(['8GB', '16GB']))
    & (df['OpSys'] == 'Windows 10')
    & (df['Price_euros'] < 500)
].shape[0]

13

In [26]:
df2 = df[
    (df['Company'] == 'MSI')
    & (df['Gpu'] == 'Nvidia GeForce GTX 1050 Ti')
    & (df['Inches'] != 15.6)
]

df2['Price_euros'].min(), df2['Price_euros'].max()

(1199.0, 1599.0)